{
  "development": {
    "username": "root",
    "password": null,
    "database": "bencaleth_dev",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "staging": {
    "username": "root",
    "password": null,
    "database": "bencaleth_staging",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "bencaleth_dev",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}